USE [master]
GO
/****** Object:  Database [BDTESTE]    Script Date: 08/17/2020 22:27:59 ******/
CREATE DATABASE [BDTESTE] ON  PRIMARY 
( NAME = N'BDTESTE', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDTESTE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDTESTE_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDTESTE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTESTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTESTE]
GO
/****** Object:  Table [dbo].[tb_Analista]    Script Date: 08/17/2020 22:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Analista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[sobrenome] [nvarchar](50) NULL,
	[telefone] [nchar](10) NULL,
 CONSTRAINT [PK_tb_Analista] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Analista] ON
INSERT [dbo].[tb_Analista] ([id], [nome], [sobrenome], [telefone]) VALUES (1, N'Carlos', N'nascimento', N'985717951 ')
SET IDENTITY_INSERT [dbo].[tb_Analista] OFF
